{% extends "layout.html" %}
{% block body %}
 <div class="row"><h3>Customer Information</h3></div>
  <div class="row">
    <div class="col-md-4">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-body">
        <form action="{{url_for('insert')}}" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="cusSeg" placeholder="Customer Segment">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="rmId" placeholder="RM ID">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="cif" placeholder="CIF">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="accNum" placeholder="Account Number">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Customer Name">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="minFeeOTT" placeholder="Minimum OTT Fee">
          </div>
          <div class="form-group">
            <input type="number" step="0.001" class="form-control" name="comPegOTT" placeholder="Commission percentage OTT">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="cableFee" placeholder="Cable Fee">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="minFeeITT" placeholder="Minimum ITT Fee">
          </div>
          <div class="form-group">
            <input type="number" step="0.001" class="form-control" name="comPegITT" placeholder="Commission percentage ITT">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="maxFeeITT" placeholder="Maximum ITT Fee">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="minDomes" placeholder="Minimum Domestic">
          </div>
          <div class="form-group">
            <input type="number" step="0.001" class="form-control" name="comPegTrasfer" placeholder="Commission percentage Transfer">
          </div>
          <button class="btn btn-secondary btn-lg btn-block" type="submit">Add</button>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      <table id="example" class="table table-striped table-bordered" style="width:100%;">
        <thead>
          <tr style="background-color: rgb(93, 173, 226); color: white;"><strong>
            <td>Customer Segment</td>
            <td>RM ID</td>
            <td>CIF</td>
            <td>Account Number</td>
            <td>Customer Name</td>
            <td>Minimum OTT Fee</td>
            <td>Commission percentage OTT</td>
            <td>Cable Fee</td>
            <td>Minimum ITT Fee</td>
            <td>Commission percentage ITT</td>
            <td>Maximum ITT Fee</td>
            <td>Minimum Domestic Fee</td>
            <td>Commission percentage Transfer</td></strong>
          </tr>
        </thead>
        <tbody>
          {% for data in employee %}
          <tr><td>{{data.cusSeg}}</td>
            <td>{{data.rmId}}</td>
            <td>{{data.cif}}</td>
            <td>{{data.accNum}}</td>
            <td>{{data.name}}</td>
            <td>{{data.minFeeOTT}}</td>
            <td>{{data.comPegOTT}}</td>
            <td>{{data.cableFee}}</td>
            <td>{{data.minFeeITT}}</td>
            <td>{{data.comPegITT}}</td>
            <td>{{data.maxFeeITT}}</td>
            <td>{{data.minDomes}}</td>
            <td>{{data.comPegTrasfer}}</td>
            <td width="130">
              <a href="/edit/{{data.accNum}}" class="btn btn-secondary btn-sm">edit</a>
              <a href="/delete/{{data.accNum}}" class="btn btn-danger btn-delete btn-sm">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <button  type="button" class="btn btn-secondary btn-lg"><a href="https://us-east-1.quicksight.aws.amazon.com/sn/dashboards/698f001f-bd39-4503-b4f8-ae47cc185abe" style="color: white;"><b>Visualize</b></a></button>
      <button onclick="goBack()" class="btn btn-secondary btn-lg"><b>Go Back</b></button>
    </div>
  </div>
</div>
<script>
  function goBack() {
    window.history.back();
  }
  </script>
 
{% endblock %}  